In [1]:
import json
import numpy as np
import pandas as pd

In [2]:
with open("/Users/annahayes/R_stuff/yelp_dataset_2022/review.json", "r") as f:
    df = pd.read_json(f, orient="records", lines=True)
len(df)

6990280

In [3]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [4]:
df_b = pd.read_csv('/Users/annahayes/R_stuff/Module3/Data/yelp_business_breakfast.csv')
df_b_id = df_b["business_id"]
df_b_id.head()

0    il_Ro8jwPlHresjw9EGmBg
1    lk9IwjZXqUMqqOhM774DtQ
2    IDtLPgUrqorrpqSLdfMhZQ
3    hUQ9Z7kQeabvhPOAQOVV1A
4    IYlUaKC9nICjiWdk-ShPlg
Name: business_id, dtype: object

In [5]:
len(df_b_id)

6525

In [6]:
df_new = df.loc[df['business_id'].isin(df_b_id)]

In [7]:
df_new.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
11,l3Wk_mvAog6XANIuGQ9C7Q,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4,0,0,0,"Locals recommended Milktooth, and it's an amaz...",2015-08-19 14:31:45
14,UBp0zWyH60Hmw6Fsasei7w,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4,0,2,0,The bun makes the Sonoran Dog. It's like a snu...,2011-10-27 17:12:05
15,OAhBYw8IQ6wlfw1owXWRWw,1C2lxzUo1Hyye4RFIXly3g,BVndHaLihEYbr76Z0CMEGw,5,0,0,0,"Great place for breakfast! I had the waffle, w...",2014-10-11 16:22:06

In [8]:
len(df_new)

879195

In [9]:
df_1 = df_new.head(150000)
csv_name = "Data/yelp_review_breakfast_1.csv"
df_1.to_csv(csv_name, index=False)

In [10]:
df_2 = df_new.iloc[150001:300000]
csv_name = "Data/yelp_review_breakfast_2.csv"
df_2.to_csv(csv_name, index=False)

In [11]:
df_3 = df_new.iloc[300001:450000]
csv_name = "Data/yelp_review_breakfast_3.csv"
df_3.to_csv(csv_name, index=False)

In [12]:
df_4 = df_new.iloc[450001:600000]
csv_name = "Data/yelp_review_breakfast_4.csv"
df_4.to_csv(csv_name, index=False)

In [13]:
df_5 = df_new.iloc[600001:750000]
csv_name = "Data/yelp_review_breakfast_5.csv"
df_5.to_csv(csv_name, index=False)

In [14]:
df_6 = df_new.iloc[750001:879195]
csv_name = "Data/yelp_review_breakfast_6.csv"
df_6.to_csv(csv_name, index=False)