In [9]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

In [18]:
df = pd.read_csv('../Data/yelp_review_filtered_breakfast.csv')

In [19]:
df

,review_id,user_id,business_id,stars,text,date
0,1z8mbdO4WAA1xplhixA5VQ,kMGGxl5wIq36Etd3XBkkCw,SlGNxQI23jc9iTZNTs_I3g,1,"Every time we go to this place, we go because ...",2012-07-16 00:44:37
1,7Ki1tkHP23P2i--9qsTRdg,-G7Zkl1wIWBBmD0KRy_sCw,IbndcMURguByburM72o3SA,5,"Just finished a State Street Kitchen, Grilled ...",2013-10-24 18:13:21
2,GNRfE14cCOBA3XasHftbDA,OqEP5BAqe599Fxra7Xe_bw,JQz0_R70G3bjQ5dRqrhxKQ,4,"Wildflower is a super scrum, cute little resta...",2015-09-24 22:16:52
3,_YZv3sa4vxd_5K2_tboT4A,fQiT5WDWBLPWqnGHdZoBQA,K-0ysAHUo1XBYcw7hB10hw,1,*note* I wrote a similar review on tripadvisor...,2011-02-14 16:25:09
4,Tpuuw6WgWnWDSzYmqczxkA,vYMvOTL31e0KbTo9Hd0tjg,AP_sb7dETsflRNNkJinYUQ,4,We had a very nice brunch here. The food was c...,2016-01-04 02:45:52
...,...,...,...,...,...,...
56254,RQhKjPTC9dmNnPdCH5xQqA,-G7Zkl1wIWBBmD0KRy_sCw,Uyf-8ybHaxe_Enbhcboz_A,4,Time to upgrade Ms. Philly Grill after a retur...,2021-12-23 21:33:30
56255,WEqV2UschR9JxuS5CHRovg,SSlW0LTQwER5obHjTW0ZIg,3tvi-OJ_-iK1ecjzSaH-oA,5,My Husband and I decided to stop into Hook and...,2019-10-10 20:16:31
56256,LGx-E-UOv9J870pnDHJrvA,1HM81n6n4iPIFU5d2Lokhw,joCDK7kg-03uo4rZK5X0_A,4,Cherry Espresso Bar is located inside a buildi...,2022-01-17 19:34:29
56257,NGeLSs-AvCyaXptmCvoJIw,1MwoiUajN2l54d4K9uTycA,Y-woMivHkCk4W3tTl1ktTA,5,We had the most remarkable experience at House...,2013-07-13 12:46:52
56258,rtt1Ymczj-1Lb26JMsY2lA,M1cMsRL4L7IUr9RILDywEQ,vt_esoDw6HG5ClM12OPkMg,4,"5 stars for the Bonte waffle, 3 stars for this...",2009-03-03 20:59:10

In [20]:
# using the train test split function
df_train, df_test = train_test_split(df,
                                   random_state=104, 
                                   test_size=0.25, 
                                   shuffle=True)

In [21]:
df_train

,review_id,user_id,business_id,stars,text,date
24627,AtR9NbVMag6_fnqHQoqhmA,D8CF2H3DYtNJlzR0IITMHQ,mqKz51qAxfcBaUhNCGcysg,2,"Heard great things about Great Full Gardens, h...",2017-10-20 01:13:54
27702,59fuA83H8lknFn4rd0V-yA,vScaSrM91Z43ypSR9VfKGg,OyF6c2he3Aej9itlH8oz-A,2,"This place is super cute, hole in the wall typ...",2019-04-30 17:40:46
434,Z7an45H1DTTeDcMYsnuh6A,nnImk681KaRqUVHlSfZjGQ,M5rj-zpkCHcGXTxBbcrDXQ,5,This coffee shop is just beautiful. I enjoy th...,2018-06-12 21:40:28
52848,ywE_fBHe2w9633hkLBWstw,TVN3qoXU0-sateboutdCZg,g-vBH_blPylAXzR-P0DtOA,4,"Roots is where Forno used to be, but completel...",2018-12-23 23:14:30
32522,JscKKIlzPnCMZImXLL1zbw,3fZeYZsNbMEUo198RD9DIw,H26zRyQkXXYzUZUOtppFcA,5,I stopped last night with some friends for dri...,2015-03-26 03:06:17
...,...,...,...,...,...,...
54399,xTUo9wU5QZhTSydmJ8uWVw,yDJvr2PSC_vOfQyYbLsPZQ,AbWafS5ER63t71BrzfsEmw,1,Stopped in thus morning \nA lot of empty table...,2018-09-30 15:18:58
39078,T-nsbrGs0d8SoGL9PAOGYQ,1aqc1ykoQuCRCPjyD3ZgjQ,nk9CYmNy0mxuu3dosjyV3Q,4,"Where can you acquire a well-crafted latte, ta...",2010-01-18 22:10:01
49881,7gckygLpWy-vJNAXpWbN4w,bJ5FtCtZX3ZZacz2_2PJjA,LzVvcVm48zYIcQnwLKt1oA,4,For the closest thing to Creole goodness in a ...,2014-12-12 05:49:21
54977,IoXD0OrPfF5lcFSwBlPU5g,MEYWD3nf64p3INCsJ5KOaA,CO05TYrf8g0WTOB_bmE3uQ,4,Excellent Greek diner just a half mile off I-2...,2018-02-18 11:01:14
8261,m6ygQiHviw6mS7K-ItAHzg,EP8o8JnQSI0WEkeodwA8lA,fFwq7Dthkh82nbhBSed2yg,1,Gross\n\nA fat man knows biscuits and gravy. W...,2010-11-05 14:54:51

In [22]:
df_test

,review_id,user_id,business_id,stars,text,date
11164,mwxSOZNRrzTM6NjDah7N6g,OLGQ7alK4VKl3YdQk6UF5g,LIHDIAocngz5Loe04eQ_oA,4,Only until a lunch meeting was scheduled did I...,2015-11-16 16:58:33
45110,PIGqAH-qYo8YbKHQ5YaaVQ,m-Pnm53eK4NFW6keiL7yjQ,XU3Fe8I8dD3FaOmzAQXLnQ,2,The food is really good. Montreal style bagels...,2011-12-13 10:03:49
33372,0QII0zMAjfA2YWrenzWZzQ,bpf_l7bnDs96VsEgS97f8A,9wu8pszrPPUjruNvgQtIEg,2,So second visit here. \n\nThe first time was o...,2016-03-20 01:37:02
45338,OMajqQfOvav75LHRTcN69w,3x_OqLY1XM75wHAohiyxSQ,0-M3vGd6IveJh77-Bwc8EQ,4,The bungalow is by far one of my favorite rest...,2012-11-02 01:27:28
19317,vvv37KAX1QIcAUGULKdBGA,lg7pp09695yrVMEa__XSHQ,UnUUSoiBSP1IGa-IdgehYQ,4,Nudy's is a mini-chain of breakfast/lunch rest...,2008-07-15 14:03:24
...,...,...,...,...,...,...
40721,zxbf5BSoLq-bZROvILRWPA,Upa-u-26_RVnjoFsIimjaw,e5fCI12X_GLCST668S4ROA,5,The Court of Two Sisters is one of my favorite...,2016-11-19 06:05:24
45370,4PyKtqx6PTSR6_xaPcEy2Q,qf6y8j38Vih16FIX7vcFEg,atZ_olNKXOG4rEr6mccN8g,4,within the confines of the reading terminal ma...,2017-11-23 17:50:26
21539,QojwheT9E0Vd-nEyM-Zirw,jIGFSS0CEI4cTksW0k9-xA,Gb5nFcTgOBWeMrmCIbxqJA,2,"We went for breakfast, but ending up having lu...",2016-04-23 22:02:44
35685,nixCwxLn5BKhY1Vtq_4a1w,GB1wNOUbzMkI4kwoh2DtAQ,yf8a1DOlqoqlKHuLSKEfxg,4,Off the beaten path but worth the 15 to 20 min...,2017-03-13 04:31:08
29256,6m3yu9RJ5C8zsqt4hOgqiw,gpxLfdnMfLh4riiUAAsRAA,thlyktt2c7v1DyOpSVSibw,5,"Scarlett Begonia takes local, organic food to ...",2012-06-16 21:02:46

In [23]:
# Remover column header and index
df_test.to_csv('../Data/df_test.csv',index=False)
df_train.to_csv('../Data/df_train.csv',index=False)